name: Lint Commit Message

on: [pull_request]

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install commitlint
        run: npm install --save-dev @commitlint/config-conventional @commitlint/cli
      - name: Validate PR title
        run: npx commitlint --last --verbose
